@import url("https://fonts.googleapis.com.css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@themes {
  --font-Playfair: "Playfair Display", serif;
}
:root {
  --background: #0077b6;
  --text-color: #caf0f8;
  --shadow-color: 3px 2px 50px 10px #90e0ef;
  --button-color: #00b4d8;
  @apply bg-[var(--background)];
}

* {
  @apply text-base box-border text-[var(--text-color)] font-[--font-Playfair];
  @apply mx-1;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
