@import url("./Globalfonts.module.css");
@import "tailwindcss";

:root {
  --background: #4cc8a3;
  --child-background: #2c98a0;

  --text-color: #b0f2bc;
  --text-hover: rgba(176, 242, 188, 0.65);

  --shadow-color: 0px 10px 10px 8px #98e8ac;

  --button-color: #2c98a0;
  --button-hover: rgba(44, 152, 160, 0.75);

  --element-selected: rgba(56, 176, 163, 0.8);
}
