@import "tailwindcss";

@keyframes breathing {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.6), 0 0 0 0 rgba(59, 130, 246, 0.4);
  }
  25% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0.4),
      0 0 0 0 rgba(59, 130, 246, 0.6);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(59, 130, 246, 0.2),
      0 0 0 10px rgba(59, 130, 246, 0.4);
  }
  75% {
    box-shadow: 0 0 0 30px rgba(59, 130, 246, 0.1),
      0 0 0 20px rgba(59, 130, 246, 0.2);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(59, 130, 246, 0),
      0 0 0 30px rgba(59, 130, 246, 0);
  }
}

.btn {
  @apply basis-1/12 inline-flex items-center justify-center cursor-pointer px-1 py-1;
  @apply border-0 rounded-full transition-all duration-300 bg-[var(--button-color)];
  animation: breathing 2.3s ease-out infinite;
}
